/* import webfonts */
@import url('https://fonts.cdnfonts.com/css/tex-gyre-adventor');
@import url('https://fonts.cdnfonts.com/css/raleway-5');

.fa-brands, .fa-solid {
	width: 22px;
	text-align: center;
}

/* Essentials */

html {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #2E2E2E;
	color: #FFFFEB;
	font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width: 800px) {
    html{
        background-color: #2E2E2E;
		width: 90%;
		margin: auto;
		font-size: 0.8em;
    }
}

body {
    padding: none;
	margin: none;
    position: relative;
}

h1 {
	font-family: 'TeXGyreAdventor', sans-serif;
	font-weight: 700;
	margin-bottom: 0px;
	text-align: center;
	margin-top: 0px;
	padding-top: 10px;
}

h2 {
	font-family: 'TeXGyreAdventor', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-top: -15px;
	margin-bottom: 10px;
}

h3 {
	font-family: 'TeXGyreAdventor', sans-serif;
	font-weight: 700;
	margin-bottom: 0px;
	margin-top: -15px;
	text-align: center;
}

a {
	color: #FC9E4F;
    text-decoration: none;
	font-size: 1em;
	font-weight: 700;
	font-family: 'TeXGyreAdventor', sans-serif;
}

.root{
    width: 80%;
	min-width: 750px;
    margin: auto;
	background: none;
	padding-bottom: 40px;
}
@media only screen and (max-width: 800px) {
    .root{
        width: 100%;
		min-width: 200px;
    }
}

.vcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body{
    height: 98vh;
}


/* Additional rows */

.grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 !important;
    width: 100% !important;
	background: #2E2E2E;
    border-radius: 10px;
}
@media only screen and  (min-width: 800px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
    }
}
.box {
    background: none;
    border-radius: 10px;
    min-width: 300px;
	padding: 20px 20px;
}

.grid > * {
    min-width: 0;
}

.right {
    float: right;
    margin-top: 10px;
    margin-left: 20px;
}

.note {
	font-size: 0.8em;
}

/* Conversion table */
.converttable{
	margin-left: auto;
	margin-right: auto;
}


/* Todo List */
#todo-list {
	margin-top: 20px;
	width: 100%;
}
#todo-list ul {
	list-style-type: none;
	padding: 0;
}
#todo-list li {
	margin-bottom: 3px;
}
#todo-list input[type="checkbox"] {
	margin-right: 10px;
}
.completed {
	text-decoration: line-through;
}

#todo-input {
width: 85%
}


/* Coordinates list */
#coordinatesList {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#coordinatesList li {
	margin-bottom: 3px;
	list-style-type: none;
	margin-left: -40px;
}

#coordinatesForm {
	width: 60%;
	min-width: 500px;
	padding-left:20%;
	padding-right:20%;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (max-width: 800px) {
    #coordinatesForm {
        width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
    }
}

/* noteField */
#noteField {
	width: 100%;
}

/* footer */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #c95c03;
	color: white;
	text-align: center;
	font-size: 0.8em;
}

.footer a {
 color: #FFFFEB
}

.footer a:hover {
color: #FFFFEB;
}

/* Logo and tagline stuff */
.logocontainer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.logo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%
  max-width: 770px;
}

.tagline {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: 40vh;
	width: 40%;
	max-width: 250px;
    display: block;
   	animation: pulse 2s linear infinite;
	z-index:99;
}
@media screen and (max-width: 800px) {
    .logocontainer {
        width: 100%;
    }
	.logo {
		width: 100%;
		max-width: 770px;
	}
	.tagline {
		display:none;
	}
}

@-webkit-keyframes "pulse" {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1) rotate(-15deg) translateY(-30px);
	}
	50% {
	   -webkit-transform: scale(0.9);
	   transform: scale(0.8) rotate(-15deg) translateY(-40px);
	}
	100% {
		-webkit-transform: scale(1);
	   transform: scale(1) rotate(-15deg) translateY(-30px);
	}
}